:root {
    --background-color: #2F303A;
    --brand-color: #2196F3;
    --white-color: #ffff;
    --black-color: #212121;
    --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    color: var(--black-color);
    background: var(--white-color);
    font-style: normal;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.link {
    text-decoration: none;
    color: var(--black-color);
}

.list {
    list-style-type: none;
}

.button {
    cursor: pointer;
    border: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* ==================== COMPONENTS ==================== */

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:  var(--black-color);
}

.logo span {
    color: var(--brand-color);
}

/* ==================== /COMPONENTS ==================== */

/* ==================== HEADER ==================== */



/* ==================== /HEADER ==================== */

/* ==================== HERO ==================== */

.hero-bg {
    background-color: #C4C4C4;
}

.hero {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/bg-hero.jpg');
    background-size: cover;
}

.hero-title {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-top: 153px;
    margin-left: auto;
    margin-right: auto;
}

.hero .button:focus,
.hero .button:hover {
    background-color: var(--brand-color);
    color: var(--white-color);
}

.hero .button {
    /* min-width: 216px;
    height: 50px; */
    min-width: 216px;
    padding: 10px 32px;
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-color);
    display: block;
    margin: 30px auto 153px;
}

/* ==================== /HERO ==================== */

/* ==================== FEATURES ==================== */

.features {
    display: flex;
    gap: 30px;
}

.features-card {
    flex-basis: calc((100% - 90px) / 4);
}

.features-list-img {
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.features-list-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.features-list-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

/* ==================== /FEATURES ==================== */

/* ==================== DOING ==================== */

.doing-section {
    padding-bottom: 94px;
}

.doing-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
}

.doing-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.doing-list-item {
    flex-basis: calc((100% - 60px) / 3);
}

.doing-card {
    position: relative;
}

.doing-list-block {
    position: absolute;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0;
}

.doing-list-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    padding-top: 27px;
}

/* ==================== /DOING ==================== */

/* ==================== TEAM ==================== */
.team-section {
    background-color: #F5F4FA;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.team-list-item {
    flex-basis: calc((100% - 90px) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
}

.team-descr {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-list-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.team-list-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 16px;
}

.social-list {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color var(--transition-dur-and-func);
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--brand-color);
    
}

.social-list-icon {
    fill: #AFB1B8;
    transition: fill var(--transition-dur-and-func);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
    fill:var(--white-color);
}

/* ==================== /TEAM ==================== */

/* ==================== PORTFOLIO ==================== */

.filters-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}

.filters-list .button {
    background-color: #F5F4FA;
    border-radius: 4px;
    min-width: 73px;
    /* height: 38px; */
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color:  var(--black-color);
    border: none;
    transition: background-color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func), color var(--transition-dur-and-func);
}

.filters-list .button:focus,
.filters-list .button:hover {
    background-color: var(--brand-color);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 50px;
    background: var(--white-color);
}

.project-descr {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.project-list-item {
    flex-basis: calc((100% - 60px) / 3);
    transition: box-shadow var(--transition-dur-and-func);
}

.project-thumb {
    position: relative;
    overflow: hidden;
}

.project-overlay {
    display: inline-block;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform var(--transition-dur-and-func);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--white-color);
    padding: 63px 24px;
}

.project-link:hover .project-overlay, 
.project-link:focus .project-overlay {
    transform: translateY(0%);
}

.project-list-item:hover,
.project-list-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.project-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}

/* ==================== /PORTFOLIO ==================== */

/* ==================== CLIENTS ==================== */

.clients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.clients-list-item {
    flex-basis: calc((100% - 150px) / 6);
}

.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.clients-list-img {
    display: flex;
    width: 170px;
    height: 92px;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    cursor: pointer;
    transition: border var(--transition-dur-and-func);
}

.clients-list-img:hover,
.clients-list-img:focus {
    border: 1px solid var(--brand-color);
}

.clients-img {
    margin: auto;
    fill: #AFB1B8;
}

.clients-img {
    fill: #AFB1B8;
    transition: fill var(--transition-dur-and-func);
}

.clients-list-img:hover .clients-img,
.clients-list-img:focus .clients-img {
    fill: var(--brand-color);
}

/* ==================== /CLIENTS ==================== */

/* ==================== FOOTER ==================== */

.logo-footer {
    color: var(--white-color);
}

.contact-footer {
    padding-top: 20px;
}

.adress-footer {
    color: var(--white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition: color var(--transition-dur-and-func);
}

.contact-link-footer {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--transition-dur-and-func);
}

.contact-link-footer:hover,
.contact-link-footer:focus {
    color: var(--brand-color);
}

.footer-section {
    background-color: var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
}

.container-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.adress:hover,
.adress:focus {
    color: var(--brand-color);
}

.adress-section-footer {
    margin-right: 70px;
}

.joing {
    margin-bottom: 12px;
    margin-right: 93px;
}

.joing-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.social-list-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
}

.social-list-link-footer {
    width: 44px;
    height: 44px;
    background-color:rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color var(--transition-dur-and-func);
}

.social-list-link-footer:hover,
.social-list-link-footer:focus {
    background-color: var(--brand-color);
}

.social-list-icon-footer {
    fill: var(--white-color);
}

.subscribe-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 20px;
}

.subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px
}

.subscribe-form-input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    padding-left: 16px;
    
}

.subscribe-form-input:hover,
.subscribe-form-input:focus {
    cursor: pointer;
    outline: none;
    border-color: var(--brand-color);
}

.button-subscribe-footer {
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 28px;
}

.button-subscribe-footer:hover,
.button-subscribe-footer:focus {
  background-color: var(--brand-color);
  color: var(--white-color);
}

.button-subscribe-footer-icon {
    fill: var(--white-color);
}

/* ==================== /FOOTER ==================== */

/* ==================== BACKDROP ==================== */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* ==================== /BACKDROP ==================== */

/* ==================== MODAL ==================== */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    /* height: 581px; */
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #cccccc;
    padding: 0;
    transition: border-color var(--transition-dur-and-func);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border-color: var(--brand-color);
}

.modal-close-btn-icon {
    fill: var(--black-color);
    transition: fill var(--transition-dur-and-func);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--brand-color);
}

.modal-caption {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-color);
    margin-bottom: 12px;
}

/* ==================== /MODAL ==================== */

/* ==================== MODAL FORM ==================== */

.modal-form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.modal-form-field-desc {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 6px;
}

.modal-form-input-wrapper {
    position: relative;
    display: block;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color var(--transition-dur-and-func);
}

.modal-form-input:hover,
.modal-form-input:focus {
    cursor: pointer;
    outline: none;
    border-color: var(--brand-color);
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    display: block;
    width: 18px;
    height: 18px;
}

.modal-form-input:focus + .modal-form-icon {
    fill: var(--brand-color);
}

.modal-form-message {
    width: 100%;
    height: 120px;
    resize: none;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--transition-dur-and-func);
}
  
.modal-form-message:hover,
.modal-form-message:focus {
    cursor: pointer;
    outline: none;
    border-color: var(--brand-color);
}

.modal-form-check-wrapper {
    display: flex;
    align-items: center;
}

.modal-form-own-check {
    border: 1px solid #303030;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.modal-form-check:checked + .modal-form-own-check {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
}

.modal-form-check:hover + .modal-form-own-check,
.modal-form-check:focus + .modal-form-own-check {
    outline: 2px solid var(--brand-color);
    border: none;
}

.modal-form-own-check-icon {
    display: none;
    fill: var(--brand-color);
}

.modal-form-check:checked + .modal-form-own-check .modal-form-own-check-icon {
    display: block;
}

.modal-form-btn {
    min-width: 200px;
    align-self: center;
    padding: 10px 52px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: var(--brand-color);
  color: var(--white-color);
}

/* ==================== /MODAL FORM ==================== */